*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-color: cadetblue;
}
.container{
	background-color: lightcyan;
	padding: 20px;
	border-radius: 20px;
	width: 30vw;
	/* text-align: center; */
}
form{
	margin: 2rem 0 1rem 0;
}
form select,button,input{
  width: 100%;
	border: none;
	/* click krne ke baad not border outline-none */
	outline: none;
	border-radius :0.75rem;
}
form input{
  border: 1px solid lightgray;
	font-size: 1rem;
	height: 3rem;
	padding-left: 0.5rem;
}
.dropdown{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 2rem;
}
.dropdown i{
	font-size: 1.5rem;
	margin-top: 1rem;
}
.select-container img{
	width: 2rem;
}
.select-container {
	/* background-color: blueviolet; */
	display: flex;
	align-items: center;
	justify-content: center;
	width: 8rem;
	border-radius: 0.5rem;
	border: 1px solid lightgray;
	/* margin-bottom: 10px; */
}
.msg{
	margin: 2rem 0 1rem 0;
}
form button{
	height: 3rem;
	background-color: #af4d98;
	color: white;
	font-size: 1.15rem;
	cursor: pointer;
}